:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  *{
    margin: 0;
    padding: 0;
  }

  $color1: #212731;
  $colorNavbar: #D1D6DA;
  $colorTypo: #2C384A;
  $colorDesc: #4B5665;
  $colorShow: #1B88F4;

  @import "mixin";
  @import "Navbar";
  @import "Home";
  @import "Card";
  @import "DealsCard";
  @import "Footer";

  .mainContainer{
    width: 1614px;
    height: 2900px;
  }



